<!DOCTYPE html>
<html>
    <head>
        <title>Chat</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!--css di bootstrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

         <!--css fatto da me-->
         <!-- per poter inserire file statici come fogli di stile css o file js dobbiamo gestire le richieste a questi file statici. Lo facciamo usando il middlware-->
         <link rel="stylesheet" href="/assets/css/contattaci.css" type="text/css"/>



        <!-- Caricamento di jquery bootstrap dopo il caricamento degli elementi html -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

        <!--link per la chat-->
    <link rel="stylesheet" type="text/css" href="/assets/css/chat.css">
    <script src="http://code.jquery.com/jquery-3.0.0.slim.min.js"></script>


    </head>
    <body>
        
        <!-- importo la navbar -->
        <%- include("./parziali/nav.ejs")  %>  <!-- con questo meccanismo possiamo includere contenuti uguali in piu pagine scrivendoli una sola volta-->

        <h1>Real-Time Chat</h1>


        <form>
            <%if(user){%>
            <div id="welcome">Hello <%=user.displayName%></div>
            <input type="hidden" id="name" name="name" value=<%=user.displayName%>/>
            <%}else{%>
            <div id="name-div"> 
               <input class="form-control float-left" type="textarea" id="name" name="name" autocomplete="off" autofocus placeholder="Enter your nickname"/> 
                <button class="btn btn-success float-right">Submit</button>
            </div>
            <div id="welcome"></div>
            <%}%>
            <ul id="messages"></ul>   <!-- dove si tiene conto della history dei messaggi--> 
            <div id="input-div">
                <input class="form-control float-left" type="textarea" id="message" name="message" autocomplete="off" placeholder="Type your message here" />
                <button class="btn btn-primary float-right">Send</button>
            </div>
        </form>
    
        <script>
           const websocket = new WebSocket("ws://localhost:8080/");   //il client stabilisce la connessione con il websocker su localhost:8080
           
          // websocket.emit('JoinRoom',{username,room});   //li devo prende dal dom poi sti due valori
           
           $('form').submit(function()           //al submit della form
           {
                name = $('#name').val() ? $('#name').val() : 'Anonimo';     //prendo il nome dalla textarea, se è stato inserito, altrimenti metto nella variabile anonimo
                $('#name-div').hide();                                     //nascondi la textbox dove prendo il nome
                if($('#welcome').context == null)
                {
                $('#welcome').text('Hello ' + name);                        //faccio apparire il messaggio di benvenuto nella div apposita
                }
                websocket.send(JSON.stringify({
                    name: name,
                    message: $('#message').val()
                }));
                
                $('#message').focus(); //messo il nome il cursore per scrivere riva in automatico sulla casella
                $('#message').val(''); //messo il nome  cancello la textarea da eventuali scritte precedenti
                return false;
            });

            websocket.onmessage = function(evt) {
                $('#messages').append($('<li>').html(evt.data));            //quando il socket client invia un messaggio lo aggiungo alla lista nella div messaggi
            };
            websocket.onerror = function(evt) {
                $('#messages').append($('<li>').text('<span style="color: red;">ERROR:</span> ' + evt.data));  //anche quando ho un errore isualizzo l'errore appeso alla lista nel box dei messaggi
            };
        </script>


        </html>





    </body>
</html>