body{
    background-color:lightcyan;
}

form{
    width:60%;
    margin-left: 20%;
}

.form-control {
    width: 90%;
   
}
.btn-success,.btn-primary{
    width: 10%;
}

#name-div {
    width: 100%;
    position: relative;
    justify-content: center;
    flex-wrap: nowrap;            /*cosi mi appaiono sulla stessa riga textarea e bottone*/
}

#welcome{
    padding:1.6%;
    background-color:lightgreen;
    color:black;
    border: 2px solid #dedede;
    border-radius: 5px;
}


#input-div {
    position: fixed;
    bottom:0;
    width:60%;

}
#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom:5%;
    
}
#messages li {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    margin-left: 10%;
}
