<!-- all'interno di questo file andrò a sistemare la navbar comune per piu di un template cosi da risparmiare codice e renderlo piu pulito -->

<!---  Navbar  -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <!-- Logo non messo, forse piu avanti-->
  
    <!-- Icona per aprire la nav da mobile -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Sezioni della navbar -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto text-center">
                <li class="nav-item ">
                    <a class="nav-link" href="/">Home</a>     
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contattaci">Contattaci</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api">API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/chat">Chat</a>
                </li>
            </ul>
           
        </div>
</nav>