<!-- all'interno di questo file andrò a sistemare la navbar comune per piu di un template cosi da risparmiare codice e renderlo piu pulito -->

<!---  Navbar  -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <!-- Logo non messo, forse piu avanti-->
  
    <!-- Icona per aprire la nav da mobile -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Sezioni della navbar -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto text-center">
                <li class="nav-item ">
                    <a class="nav-link" href="/index">Home</a>     
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contattaci">Contattaci</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mappa">Mappa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/chat">Chat</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <%if(user){%>
                   <h5 class="my-3 mr-sm-2"> Benvenuto <%=user.displayName%></h5>
                   <a type="button" class="btn btn-outline-danger my-2 mr-sm-2" href="/logout">Logout</a>
                <%}%> 
            </ul>
        </div>
</nav>